/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* common styles and utilities */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.default-margin {
  margin: 0 10%;
}

.default-padding {
  padding: 0 10%;
}

.title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}

.desc {
  color: #727272;
}

.btn {
  background-color: #ff900e;
  border: 0;
  border-radius: 8px;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}

/* header styles */
.header {
  padding-top: 50px;
  padding-bottom: 45px;
  background: #ff900e1a;
}

/* nav styles */
.nav {
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 75px;
}

.nav-menu-item {
  list-style: none;
}

.nav-menu-item a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}

/* heading styles */
.heading {
  margin-top: 100px;
  text-align: center;
}

.heading-title {
  padding: 0 25%;
  font-size: 64px;
}

.heading-desc {
  margin: 26px 0 32px;
  padding: 0 10%;
}

.heading-btn {
  margin-bottom: 50px;
}

.heading-img img {
  width: 100%;
}

/* main styles */
.main {
  margin-top: 45px;
}
/* features styles */
.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 73px;
  padding: 3%;
}

.features-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.features-img img {
  width: 100%;
}

.features-info {
  width: 50%;
}

.ash {
  font-weight: 500;
  color: #727272;
}

.orange {
  color: #ff900e;
}

.features-desc {
  margin: 24px 0 32px;
}

/* features-lists-styles */
.features-lists-container {
  display: flex;
  gap: 140px;
  justify-content: space-between;
  align-items: center;
  margin: 70px 0 100px;
  position: relative;
}

.features-lists-info {
  width: 60%;
}

.features-lists-title {
  margin-bottom: 24px;
  border-left: 5px solid #ff900e;
  padding-left: 21px;
}

.features-lists {
  margin-top: 30px;
}

.features-list {
  box-shadow: 0px 4px 30px #0000000f;
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 20px;
}

.article-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.features-lists-img img {
  width: 100%;
}

.experience-btn {
  position: absolute;
  padding: 45px 42px;
  font-weight: 700;
  font-size: 65px;
  right: 23%;
  bottom: 0%;
}

.small-text {
  display: block;
  font-weight: 500;
  font-size: 25px;
}

/* facts styles */
.facts {
  margin-bottom: 150px;
}

.facts-desc {
  margin: 24px 0 70px;
  width: 50%;
}

.achievements {
  display: flex;
  justify-content: space-around;
}

.achievement {
  width: 242px;
  height: 242px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: transform 1s;
}

.number {
  font-weight: 600;
  font-size: 45px;
  color: #424242;
}

.achievement-name {
  font-weight: 600;
  font-size: 20px;
  color: #727272;
}

.achievement:hover {
  transform: rotate(90deg);
}

/* sponsors styles */
.sponsors {
  margin-bottom: 100px;
}

.sponsors-info {
  text-align: center;
  padding: 0 25%;
}

.sponsors-desc {
  margin: 24px 0 50px;
}

.sponsors-logos {
  display: flex;
  justify-content: space-between;
}

.sponsors-logo {
  background-color: white;
}

.sponsors-logo img {
  mix-blend-mode: luminosity;
}

.footer {
  background: #fff4e7;
  border-radius: 8px;
  margin-bottom: 50px;
  text-align: center;
  padding: 38px 0;
}

.footer-para {
  color: #424242;
  font-size: 20px;
}

/* mobile styles */
@media screen and (max-width: 576px) {
  /* header styles */
  .header {
    padding-top: 25;
    padding-bottom: 20;
  }
  /* nav styles */
  .nav,
  .nav-menu {
    flex-direction: column;
  }

  .nav {
    gap: 20px;
  }

  .nav-menu {
    gap: 10px;
  }

  .nav-title {
    text-align: center;
  }

  /* heading styles */
  .heading {
    margin-top: 30px;
  }

  .heading-title,
  .heading-desc {
    padding: 0;
  }

  .heading-title {
    font-size: 50px;
  }

  /* main styles */
  .main {
    margin-top: 25px;
  }
  /* features styles */
  .features {
    flex-direction: column;
    gap: 20px;
  }

  .features-images {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .features-info {
    width: 100%;
    text-align: center;
  }

  /* features-lists styles */
  .features-lists-container {
    flex-direction: column;
    text-align: center;
    margin: 25px 0;
    gap: 10px;
    position: static;
  }

  .features-lists-info {
    width: 100%;
  }

  .features-lists-title {
    padding: 0;
  }

  .features-lists {
    margin-top: 10px;
  }

  .features-list {
    margin-bottom: 5px;
  }

  .experience-btn {
    position: static;
    padding: 20px 25px;
    font-weight: 700;
    font-size: 25px;
    margin-top: 5px;
  }

  .small-text {
    font-weight: 500;
    font-size: 20px;
  }

  /* facts styles */
  .facts {
    margin-bottom: 50px;
  }

  .facts-info {
    text-align: center;
  }

  .facts-desc {
    width: 100%;
    margin: 20px 0;
  }

  .achievements {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  /* sponsors styles */
  .sponsors-info {
    padding: 0;
  }

  .sponsors-logos {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .sponsors {
    margin-bottom: 25px;
  }
}
